.content-exl{
    max-width: 1806px;
    margin: auto;
}



/* ========================================== s2560 =========================================== */
@media (max-width:2560px){
  

      /* .container-xxl, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm, .container{
        max-width: 2076px;
    } */
}
/* ========================================== s2200 =========================================== */
@media (max-width:2200px){
    /* .black-box-section .container,
    .team-section .container
    {
        max-width: 2076px;
        padding-right: 0px !important;
        padding-left: 0px !important;
    } */
    
      .news-text-slider .next-arrow,
      .news-text-slider .prev-arrow{
          bottom: -80px;
      }
      #why .slick-header-text .prev-arrow{
        bottom: 14%;
     
    }
    #why .slick-header-text .next-arrow{
        bottom: 14%;
    }
    .last-block .book {
        width: 580px;
        top: 22%;
    }
    .last-block .inno-box {
        height: 300px;
        width: 660px;
        left: -182px;
        top: 38%;
    }
}
/* ========================================== s2000 =========================================== */
@media (max-width:2000px){
    /* .black-box-section .container,
    .team-section .container
    {
        max-width: 1920px;
        padding-right: 0px !important;
        padding-left: 0px !important;
    } */
    /* .container-xxl, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm, .container{
        max-width: 1776px;
    } */
    .content-exl{
        max-width: 1600px;
        margin: auto;
    }
     .banner-head .inner-contnet h3{
        margin-top: 40px;
    }
     .banner-head .inner-contnet p{
        margin-bottom: 30px;
    }
  
     .banner-head .inner-contnet{
        margin-right: 100px;
        margin-left: 100px;
    }
    .footer-section .logo-box img {
        width: 90%;
    }
    .language-menu{
        margin-right: 150px;
       
    }
      /*=================== content block section =================== */
      .content-block .content-box{
        margin-left: 140px;
        max-width: 700px;
    }
    .news-text-slider .next-arrow,
    .news-text-slider .prev-arrow{
        bottom: -55px;
    }
    .banner-head h3,
    .banner-head .h3{
        font-size: 45px;
        line-height: 50px;
    }
    .card-section {
        padding-top: 90px;
        padding-bottom: 80px;
    }
}

/* ========================================== s1700 =========================================== */
@media (max-width:1700px) {
    /* .container-xxl, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm, .container{
        max-width: 1476px;
    } */

    .content-exl{
        max-width: 1400px;
        margin: auto;
    }
    
    .mt-245{
        margin-top: 200px;
    }
    .mt-200{
        margin-top: 160px;
    }
    .mb-200{
        margin-bottom: 160px;
    }
    .mt-100{
        margin-top: 90px;
    }
    .mb-100{
        margin-bottom: 90px;
    }
    .black-box-section .inner-box{
        width: 440px;
    }
    .inner-box {
        padding: 40px;
    }
    .black-box-section .inner-box a{
        margin-top:30px;
      
    }
    .black-box-section .subtitle{
        margin-top: 30px ;
        margin-bottom: 15px;
    }
    h1, .h1{
        font-size: 80px;
        line-height: 83px;
      
    }
    h2, .h2{
        font-size: 70px;
        line-height: 79px; 
       
    }
    h3 , .h3{
        font-size: 42px;
        line-height: 50px;
    }
    h4, .h4{
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 38px;
    }
    h5, .h5{
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 30px;
    }
    .menu-section .site-logo img{
        max-width: 250px;
    }
    .job-section .job-box{
        min-height: 200px;
    }
    .job-box .arrow-icon .offene{
        margin-right: 10px;
    }
    .why-thard{
        margin-top: -260px;
    }
    .why-second h1{
        font-size: 170px;
        line-height: 173px;
    }
    .home-black-box .inner-box h4{
        margin-left: -0px;
    }
    .why-thard h3{
        max-width: 800px;
    }
    .banner-head .block-left{
        width: 52%;
    }
    .banner-head .block-right{
        width: 48%;
    }

    .last-block .content-right{
        height: 1000px;
     }
     .last-block .content-box {
        margin-left: 160px ;
    }
    .last-block .book {
        width: 500px;
        top: 30%;
    }
    .last-block .inno-box {
        height: 250px;
        width: 600px;
        left: -182px;
        top: 42%;
    }
    .card-section p{
        max-width: 700px;
    }
    .card-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}


/* ========================================== s1600 =========================================== */
@media (max-width:1600px){
    /* .black-box-section .container,
    .team-section .container
    {
        max-width: 1520px;
        padding-right: 0px !important;
        padding-left: 0px !important;
    } */
    /* .container-xxl, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm, .container{
        max-width: 1320px;
    } */

    .content-exl{
        max-width: 1200px;
        margin: auto;
    }

    .mt-245{
        margin-top: 180px;
    }
    .mt-200{
        margin-top: 140px;
    }
    .mb-200{
        margin-bottom: 140px;
    }
    .mt-100{
        margin-top: 85px;
    }
    .mb-100{
        margin-bottom: 85px;
    }
    .menu-section .site-logo img{
        max-width: 230px;
    }
    p{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0px;
    }
    h2, .h2{
        font-size: 60px;
        line-height: 70px; 
       
    }
    .inner-contnet h3{
        margin-top: 20px;
    }
    .inner-contnet p{
        font-size: 18px;
        line-height: 20px;
    }
    .black-box-section .inner-box{
        width: 400px;
    }
    .news-section{
        margin-bottom: 150px;
    }
    .team-section{
        padding-bottom: 150px;
    }
    .hamburger{
        width: 70px;
        height: 70px;
    }
    .menu-toggle span{
        width: 28px;
    }
       /*=================== content block section =================== */
       .content-block .content-box{
        margin-left: 120px;
        max-width: 600px;
    }
     /* home page */
     .prev-arrow {
        height: 40px;
        width: 40px;
        
    }
        .next-arrow {
            height: 40px;
            width: 40px;
            
        }
        #why h1{
            font-size: 82px;
            line-height: 82px;
        }
        #why .header-content p{
            font-size: 62px;
            line-height: 75px;
            margin-left: 60px;
            margin-top: 50px;
            margin-bottom: 50px;
           }
        #why .header-content .arrow-icon a{
            margin-left: 60px;
        }
        #why .slick-header-text .prev-arrow{
            bottom: 13%;
            right: auto;
            top: auto;
            left: 0%;
        }
        #why .slick-header-text .next-arrow{
            bottom: 13%;
            right: auto;
            top: auto;
            left: 55px;
        }
        #why .fa-light {
            font-size: 22px;
        }
        .why-second h1{
            font-size: 160px;
            line-height: 160px;
        }
        .why-second h3{
            margin-top: 100px;
        }
        #what .what-cards .what-card-header .title .h1 {
            font-size: 80px;
        }
        .job-section {
            padding-top: 0px;
        }
        .banner-head .block-left{
            width: 60%;
        }
        .banner-head .block-right{
            width: 40%;
        }
        .banner-head .inner-contnet h3{
            margin-top: 35px;
        }
        .banner-head h3, .banner-head .h3{
            font-size: 35px;
            line-height: 40px;
        }
     
        
}
/* ========================================== s1400 =========================================== */
@media (max-width:1400px){
    .content-exl{
        max-width: 1024px;
        margin: auto;
    }
    .mt-245{
        margin-top: 160px;
    }
    .mt-200{
        margin-top: 120px;
    }
    .mb-200{
        margin-bottom: 120px;
    }
    .mt-100{
        margin-top: 80px;
    }
    .mb-100{
        margin-bottom: 80px;
    }
    h2, .h2{
        font-size: 50px;
        line-height: 56px; 
       
    }
    .menu-section .site-logo img{
        max-width: 200px;
    }
    .news-section{
        margin-bottom: 130px;
    }
    .team-section{
        padding-bottom: 130px;
    }

    .partner-section h4{
        margin-top: 40px;
    }
    .footer-section .logo-box img{
        width: 86%;
    }
    .footer-section .bottom-footer .footer-menu{
        margin-left: 0px;
    }
    .footer-section .contact-part img{
        margin-top: 40px;
        margin-bottom: 30px;
    }
   
     /*=================== content block section =================== */
     .content-block .content-box{
        margin-left: 80px;
        max-width: 500px;
    }
    #why .slick-header-text .prev-arrow{
        bottom: 5%;
    }
    #why .slick-header-text .next-arrow{
        bottom: 5%;
       
    }
    .why-second h1{
        font-size: 120px;
        line-height: 120px;
    }
    .why-second h3{
        margin-top: 80px;
    }
    #what .what-cards .what-card-header .title .h1 {
        font-size: 70px;
    }
    .banner-head .inner-contnet h3{
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .banner-head .inner-contnet p{
        margin-bottom: 25px;
    }
    .banner-head .inner-contnet{
        margin-right: 30px;
    }
    .content-block .content-left img{
        height: 700px;
    }
    .last-block .content-right {
        height: 900px;
    }
    .last-block .content-box {
        margin-left: 120px;
    }
    .last-block .book {
        width: 415px;
        top: 30%;
        right: -100px;
    }
    .last-block .inno-box {
        height: 189px;
        width: 475px;
        left: -143px;
        top: 44%;
    }
    .card-section .form-control{
        max-width: 430px;
    }
    .card-section .block-right{
        padding-right: 72px;
    }
    .card-section h2{
        margin-bottom: 60px;
    }
}
/* ========================================== s1200 =========================================== */
@media (max-width:1200px){
    .content-exl{
        max-width: 850px;
        margin: auto;
    }
    .mt-245{
        margin-top: 130px;
    }
    .mt-200{
        margin-top: 100px;
    }
    .mb-200{
        margin-bottom: 100px;
    }
    .mt-100{
        margin-top: 75px;
    }
    .mb-100{
        margin-bottom: 75px;
    }
    .menu-section .site-logo img{
        max-width: 184px;
    }
    h1, .h1{
        font-size: 60px;
        line-height: 69px;
    }
    h2, .h2{
        font-size: 48px;
       line-height: 50px;
    }
    h3 , .h3{
        font-size: 32px;
        line-height: 39px;
    }
    h4, .h4{
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 30px;
    }
    h5, .h5{
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
      
    }
    p{
        font-size: 16px;
        margin-bottom: 0px;
        line-height: 18px;
    }
    .navigation h4{
        font-size: 36px;
    }
    .hamburger{
        width: 60px;
        height: 60px;
    }
    .menu-toggle span{
        width: 26px;
    }
     .banner-head .inner-contnet{
        margin-right: 50px;
        margin-left: 50px;
    }
    .news-section{
        margin-bottom: 100px;
    }
    .team-section{
        padding-bottom: 100px;
    }
    .partner-section .logo-container{
        padding-bottom: 100px;
    }

    .language-menu{
        margin-right: 100px;
       
    }
    .card-section .card-img{
        width: 100%;
    }
    /* home page */
    .prev-arrow {
        height: 40px;
        width: 40px;
        
    }
        .next-arrow {
            height: 40px;
            width: 40px;
            
        }
        #why h1{
            font-size: 72px;
            line-height: 72px;
        }
        #why .header-content p{
            font-size: 42px;
            line-height: 49px;
            margin-left: 40px;
            margin-top: 35px;
            margin-bottom: 35px;
           }
        #why .header-content .arrow-icon a{
            margin-left: 40px;
        }
        #why .slick-header-text .prev-arrow{
            bottom: 10%;
            
        }
        #why .slick-header-text .next-arrow{
            bottom: 10%;
        }
        #why .fa-light {
            font-size: 20px;
        }
        .why-second h1{
            font-size: 80px;
            line-height: 93px;
        }
        .why-second h3{
            margin-top: 60px;
            margin-bottom: 25px;
        }
        .why-second span {
            padding-left: 80px;
            font-size: 14px;
        }
        #what .what-cards .what-card-header .title .h1 {
            font-size: 60px;
        }
        .why-thard h3{
            max-width: 600px;
        }
        .banner-head .inner-contnet p{
            font-size: 14px;
            line-height: 24px;
        }
        .banner-head .inner-contnet h3{
            margin-top: 25px;
        }
        .banner-head .inner-contnet h3{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .banner-head .inner-contnet p{
            margin-bottom: 20px;
        }
        .last-block .content-right {
            height: 745px;
        }
        .last-block .book {
            width: 300px;
            top: 30%;
            right: -70px;
        }
        .last-block .content-box {
            margin-left: 85px;
        }
        .last-block .inno-box {
            height: 143px;
            width: 385px;
            left: -120px;
            top: 44%;
        }
        .last-block .inno-box span {
            font-size: 14px;
            margin-left: 104px;
        }
}
/* ========================================== s992 =========================================== */
@media (max-width:992px){
    .content-exl{
        max-width: 700px;
        margin: auto;
    }
    .mt-245{
        margin-top: 100px;
    }
    .mt-200{
        margin-top: 80px;
    }
    .mb-200{
        margin-bottom: 80px;
    }
    .mt-100{
        margin-top: 70px;
    }
    .mb-100{
        margin-bottom: 70px;
    }
    .menu-section .site-logo img{
        max-width: 164px;
    }

   /* ============= home page ========= */

   

    /* =============about page================ */
    .banner-head .inner-contnet{
        margin-right: 20px;
    }
    .black-box-section .inner-box a{
        margin-top: 40px;
    }
    .black-box-section .subtitle{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .black-box-section .inner-box{
        width: 320px;
        
    }
    .news-section{
        margin-bottom: 80px;
    }
    .team-section{
        padding-bottom: 80px;
    }
    .partner-section h4{
        margin-top: 20px;
    }

    /*=================== content block section =================== */
    .content-block .content-box{
        margin-left: 40px;
    }
    /*=================== footer =================== */
    .footer-section .bottom-footer .footer-menu{
        margin-left: 0px;
    }
    .footer-section .bottom-footer .footer-menu-item{
        margin-right: 20px;
    }
    .footer-section .logo-box img{
        width: 80%;
    
    }

    /* innovation page */
    .news-text-slider .next-arrow,
    .news-text-slider .prev-arrow{
        display: none;
    }
    .link-section .arrow-icon{
        margin-right: 10px;
    }
    .link-section .pera{
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .link-section h4{
        margin-bottom: 40px;
    }
    .card-section .input-group{
        box-shadow: 0 30px 60px 0 rgba(21, 18, 20, 0.1);
    }
    .card-section .form-control{
        display: inline-block;
        margin: 0px;
        border-radius: 8px 0px 0px 8px;
        box-shadow: none;
        background-color: #fff;
        border: none;
        padding-left: 20px;
    }

    .card-section .btn{
        border-radius: 0px 8px 8px 0px;
        display: inline-block;
        font-size: 12px;
        line-height: 2.33;
        letter-spacing: 0.12px;
        padding: 17px 18px;
    }
    .why-second h1{
        font-size: 70px;
        line-height: 83px;
    }
    .why-second h3{
        margin-top: 70px;
    }
    .why-thard {
        margin-top: -300px;
    }
    #what .what-cards .what-card-header .title .h6 {
        margin-left: 78px;
        
    }
    .job-section .job-box:hover img{
        width: 70%;
    }
    .job-section .job-box img{
        width: 90%;
    }
    .job-section .job-box .name{
        font-size: 12px;
    }
    .job-section .job-box{
        min-height: 150px;
    }
    .job-section .job-box .arrow-icon{
        font-size: 12px;
    }
    .content-block .content-box{
        max-width: 450px;
    }
}
/* ========================================== s768 =========================================== */
@media (max-width:768px){
    .container, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm{
        padding-right: 36px;
        padding-left: 36px;
    }
    .mt-245{
        margin-top: 60px;
    }
    .mt-200{
        margin-top: 60px;
    }
    .mb-200{
        margin-bottom: 60px;
    }
    .mt-100{
        margin-top: 60px;
    }
    .mb-100{
        margin-bottom: 60px;
    }
    .humbermenu-section{
        right: 36px;
    }
    .content-exl {
        max-width: 100%;
        margin: auto;
        padding-right: 36px;
        padding-left: 36px;
    }
    #why h1{
        font-size: 60px;
        line-height: 60px;
    }
    #why .header-content p{
        font-size: 32px;
        line-height: 39px;
        margin-left: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #why .header-text-slider-item span{
        font-size: 12px;
        line-height: 1;
        letter-spacing: 0.12px;
    }
    #why .header-content .arrow-icon a{
        margin-left: 15px;
    }
    #why .slick-header-text .next-arrow{
        bottom: 42px;
        right: 0%;
        top: auto;
        left: auto;
    }
    #why .slick-header-text .prev-arrow{
        bottom: 42px;
        right: auto;
        top: auto;
        left: 0%;
    }
    #why .prev-arrow{
        width: 36px;
        height: 36px;
    }
    #why .next-arrow{
        width: 36px;
        height: 36px;
    }
    #why .fa-light {
        font-size: 16px;
    }
    .content-block{
        padding-right:36px;
        padding-left: 36px;
    }
    .content-block .content-left{
        width: 100%;
    }
    .content-block .content-right{
        width: 100%;
    }
    .content-block .content-left img{
        height: 246px;
        width: 100%;
    }
    .content-block .content-box{
        max-width: 100%;
        margin-left: 0px;
    }
    .content-block .content-box h2{
        line-height: 1.21;
        letter-spacing: -1.3px;
        margin-top: 20px;
    }
    .content-block .content-box h4{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .navigation .second-menu{
        margin-top: 60px;
    }
  
    .menu-section .site-logo img{
        max-width: 158px;
    }
    .navigation a{
        color: #fff;
        display: inline-block;
        margin-top: 30px;
        font-size: 14px;
        line-height: 2;
        letter-spacing: 0.14px;
    }
    .navigation .language-menu a{
        margin-top: 0px;
        font-size: 10px;
    }
    .navigation .language-menu{
        padding: 27px 0px 0px 36px;
    }
    .hamburger{
        width: 48px;
        height: 48px;
    }
    .menu-toggle span{
        width: 24.5px;
         height: 2.4px;
    }
    .menu-section {
        padding: 30px 36px 0px 36px;
    }
    .banner-head{
        height: auto;
    }
    .banner-head .banner-img{
        height: 596px;
    }
     .banner-head .inner-contnet h1{
        margin-top: 60px;

    }
     .banner-head .inner-contnet h3{
        margin-top: 40px;
        margin-bottom: 20px;
        line-height: 39px;
       
    }
  
     .banner-head .inner-contnet{
        margin-right: 36px;
        margin-left: 36px;
    }
    .banner-head .block-left {
        width: 100%;
    }
    .banner-head .block-right{
        width:100% ;
    }
    .banner-head .inner-contnet p{
        margin-bottom: 0px;
    }
    .black-box-section{
        background-color: #161214;
        margin-top: 30px;
    }
    .black-box-section .inner-box{
        top: 0%;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .team-section{
        margin-top: 0px;
        padding-bottom: 0px;
    }
    .team-section h2{
        margin-top: 60px;
        margin-bottom: 0px;
    }
    .team-section .team-box{
        padding: 44px 80px 23px 30px;
        width: 290px;
    }
    .team-box h5{
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.2;
    }
    .team-box span{
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.14;
    }
    .team-box p{
        font-size: 10px;
        line-height: 28px;
    }
    .team-slider-section .container{
        padding-left: 0px;
        padding-right: 0px;
        max-width: 100%;
        padding-left: var(--bs-gutter-x, 0rem);
    }
    
    .team-team-slider-section .container .row{
        margin-right: 0px;
        margin-left: 0px;
    }
    .team-section .owl-carousel .owl-stage-outer{
        padding-left: 36px;
        padding-top: 20px;
        padding-bottom: 60px;
    }
    .news-section{
        margin-top: 0px;
        margin-bottom: 60px;
    }
   
    .news-section .title p{
        font-size: 14px;
        line-height: 18px;
      
    }
    .news-section .load-more{
        margin-top: 42px;
    }
    .partner-section .title p{
        font-size: 14px;
        line-height: 24px;
        padding: 20px 0px 40px;
    }
    .news-section .load-more a{
        font-size: 12px;
    }
    .partner-section span{
        font-size: 10px;
        display: inline-block;
    }
    .partner-section .logo-container{
        padding-top: 10px;
        padding-bottom: 60px;
    }
    .content-right .book{
        width: 284px;
    }


    .link-section ul li{
        margin-bottom: 15px;
    }
    .link-section h4{
        margin-top: 40px;
        margin-bottom: 32px;
    }
    .link-section .pera{
        max-width: auto;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .card-section{
        padding-right: 36px;
        padding-left: 36px;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .card-section .card-img{
        width: 100%;
    }
    .card-section .block-left {
        width: 100%;
    }
    .card-section .block-right{
        width:100% ;
        position: relative;
        padding-bottom: 0px;
        padding-top: 30px;
    }
    .card-section h2{
        margin-bottom: 30px;
    }
    .card-section p{
        margin-top: 20px;
        margin-bottom: 48px;
    }
  
    .card-section .form-control::placeholder{
       font-size: 12px;
    }
    .job-section .subtitle{
        font-size: 14px;
    }


    /* ==================footer ================ */
    .footer-section{
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .footer-section .footer-logo .logo-box{
       /* width: 164px; */
        height: 109px;
     
    }
    .footer-section .gx-5, .footer-section .gy-5 {
        --bs-gutter-y: 15px;
    }
    .footer-section .g-md-5{
        --bs-gutter-x: 15px;
      }
      .footer-section .footer-brand-logo{
        margin-top: 60px;
      }
      .footer-section .bottom-footer .footer-menu-item{
        margin-right: 0px;
        margin-top: 10px;
    }
    .footer-section .bottom-footer{
        margin-top: 50px;
    }
    .footer-section .logo-box img{
        width: 72%;
    }
    .why-thard{
        margin-top: 0px;
    }
    .why-second h1{
        font-size: 60px;
        line-height: 73px;
    }
    .why-second span{
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.12px;
        padding-left: 75px;
    }
    .why-second h3{
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .why-second{
        margin-bottom: 60px;
    }
    #what .what-cards .what-card-header .title .h1 {
        font-size: 48px;
    }
    #what .what-cards .what-card-header .title .h6 {
       font-size: 12px;
       line-height: 14px;
       letter-spacing: 0.12px;
    }
    .job-section .job-box{
        min-height: 95px;
    }
    .job-section .job-box{
        padding: 18px;
    }
    .job-section .job-box img{
        width: 100%;
    }
    .job-section .job-box:hover img{
        width: 90%;
    }
    .last-block .content-right {
        height: 280px;
    }
    .content-block-ls .content-right {
        width: 100%;
        margin-top: 154px;
    }
    .last-block .inno-box {
        height: 154px;
        width: 100%;
        transform: none;
        top: -154px;
        left: 0;
        right: 0;
    }
    .content-right .book {
        width: 284px;
        right: 0;
        left: 0;
        margin: auto;
        top: 60px;
    }
    .last-block .inno-box span {
        font-size: 12px;
        margin-left: -30px;
        text-align: center;
        line-height: 14px;
    }
    .last-block .content-box{
        margin-left: 0px;
    }
    .content-block-ls .content-left {
        width: 100%;
        padding-right: 36px;
        padding-left: 36px;
    }
    .content-block-ls .content-box h4{
        margin-top: 108px;
        margin-bottom: 30px;
    }
    .content-box .arrow-icon{
        margin-top: 30px;
    }
    .card-section .block-right{
        padding-right: 0px;
    }
    .card-section .form-control{
        max-width: 100%;
    }
}
/* ========================================== s576 =========================================== */
@media (max-width:576px){

   
   

}
/* =========================================== s400 ============================================== */
@media (max-width:400px){

   

}
   