
/* ============================================================================ */
/* ================================common style ===============================*/
/* ============================================================================ */
body {
    font-family: 'Montserrat', sans-serif;
    color: #161214;
    position: relative;
}

h1,
.h1 {
    clip-path: polygon(0 0,100% 0,100% 100%,90px 100%,0 50px);
    font-size: 120px;
    line-height: 146px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}
.why-second h1{
    clip-path: polygon(0 0,100% 0,100% 100%,130px 100%,0 60px);
    font-size: 180px;
    font-weight: 700;
    display: block;
    line-height: 219px;
}
h2,
.h2 {
  
    font-size: 90px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    line-height: 110px;
}
.h2{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80px 100%, 0 40px);
}

h3,
.h3 {
    font-size: 60px;
    line-height: 73px;
}

h4,
.h4 {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
   line-height: 58px;
}
.h4{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 45px 100%, 0 30px);
}
h5,
.h5 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 28px;
}

p {
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 28px;
}


.mt-200 {
    margin-top: 200px;
}

.mt-245 {
    margin-top: 245px;
}

.mb-200 {
    margin-bottom: 200px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

#preloader,
body.preloader-site {
    overflow: hidden
}

#preloader {
    height: 100vh;
    width: 100vw;
    background: #00a996;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000000000000000000
}

#preloader .content {
    position: relative;
    z-index: 5
}

#preloader .content .logo img {
    width: 372px
}

@media (max-width:767px) {
    #preloader .content .logo img {
        width: 280px
    }
}

#preloader:before {
    content: "";
    position: absolute;
    border-radius: 3000px;
    top: 50%;
    left: 50%;
    height: 1224px;
    width: 1224px;
    transform: translateX(-50%) translateY(-50%) scale(1);
    transition: all .7s ease-in-out;
    background-color: transparent
}

#preloader.loaded {
    opacity: 0;
    transition: all .3s ease-in-out .9s
}

#preloader.loaded:before {
    transform: translateX(-50%) translateY(-50%) scale(5);
    transition: all .8s ease-in-out .4s;
    background-color: #fff
}

#preloader.loaded img {
    transform: scale(1.1);
    transition: all 1s ease-in-out
}

#mouse-circle {
    position: absolute;
    border: 1px solid #00a996;
    background-color: hsla(0, 0%, 100%, .2);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: height, width .3s ease-in-out;
    z-index: 50000000000000000;
    pointer-events: none;
    transition: transform .3s ease-in-out;
    transform: scale(1)
}

@media only screen and (max-width:800px) {
    #mouse-circle {
        display: none
    }
}

#mouse-circle.active {
    transform: scale(1.3);
    transition: transform .3s ease-in-out
}
.fixed-contact-phone{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: #00a996;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fixed-contact-phone:hover{
    background-color: #fff;
    color:#00a996 ;
}
.fixed-contact-phone .fa-phone-volume{
   
    transform: rotate(-40deg);
    font-size: 30px;
}
/* header slider */

.header-content {
    
    /* width: 100%; */
    height: 100%; 
    color: white !important;
    display: flex;
   align-items: center;
   
}

.header-content h4 {
    color: white !important;
}

.section-3 {
    background-image: url('/images/background/section-3bg.png');
}
.slick-initialized .slick-slide {
    display: block
}








/* =========================================================================== */
/* =======================    header section   ======================= ======== */
/* ================================================================== */
.menu-section {
    padding: 32px 60px 0px 60px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;

}

.menu-section .site-logo img {
    max-width: 290px;
}

.humbermenu-section {
    position: fixed;
    right: 60px;
    top: 30px;
    z-index: 20;
}

.hamburger {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #00a996;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.language-menu {
    margin-right: 190px;
    margin-top: 20px;
}

.language-menu span {
    color: #fff;
}

.language-menu a {
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.33;
    letter-spacing: 0.12px;

}

.navigation {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #161214;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: block;
    z-index: 19;
}

.hidenavigation {
    display: none;
}


.menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background: #161214;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.menu-toggle span:first-child {
    margin-bottom: 6px;
}


.hamburger.open span:first-child {
    position: relative;
    top: 4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger.open span:last-child {
    position: relative;
    top: -4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.navigation h4 {
    color: #00a996;
    font-weight: 700;
}

.navigation .second-menu {
    margin-top: 90px;
}

.navigation a {
    color: #fff;
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.56;
    letter-spacing: 0.18px;
}

.innner-nav {
    height: 100vh;
}












/* ============================================================================ */
/* =================================welcom page section ============================= */
/* ===================================================================================== */
.card-section .block-left {
    width: 47%;
    display: flex;
    align-self: center;
    justify-self: center;
}
.content-box .arrow-icon{
    margin-top: 60px;
}
.card-section .block-right {
    width: 53%;
    position: relative;
}

/* .content-right .book {
    position: absolute;
    width: 108px;
} */

.card-section {
    background-color: #f2f2f2;
    padding-top: 115px;
    padding-bottom: 95px;
}

.card-section button {
    padding: 24px 50px;
    border-radius: 8px;
    box-shadow: 0 30px 60px 0 rgba(21, 18, 20, 0.1);
    background-color: #00a996;
    color: #fff;
}

.card-section h2 {
    margin-bottom: 110px;
    margin-top: 120px;
}

.card-section p {
    margin-top: 45px;
    margin-bottom: 60px;
    max-width: 888px;
    font-weight: 300;
}

.card-section .card-img {
    width: 80%;
    object-fit: cover;
    margin-left: 130px;
}

.card-section .form-control {
    display: inline-block;
    margin: 0 32.5px 0 0;
    border-radius: 8px;
    box-shadow: 0 30px 60px 0 rgba(21, 18, 20, 0.1);
    background-color: #fff;
    border: none;
    max-width: 543px;
    padding-left: 20px;
}

.card-section .form-control::placeholder {
    font-weight: 700;
    color: #161214;
}

.card-section .btn {
    display: inline-block;
    border: none;
}


.link-section .list-unstyled {
    margin-bottom: 0px;
}

.link-section ul li {
    margin-bottom: 20px;
}

.link-section ul li:last-child {
    margin-bottom: 0px;
}

.link-section a {
    letter-spacing: 0.18px;
    font-weight: 700;
}

.link-section .arrow-icon {
    margin-right: 20px;

}

.link-section h4 {
    margin-bottom: 60px;
    font-weight: 300;
}

.link-section .pera {
    max-width: 888px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
    font-weight: 300;
}












/* ========================================================================= */
/* =======================career page ==================== */
/*  ==================================================================*/
.job-section {
    padding-top: 20px;
}

.job-section .job-box {
    box-shadow: 0 10px 40px 0 rgba(22, 18, 20, 0.1);
    background-color: #fff;
    padding: 20px;
    min-height: 260px;
    position: relative;

}

.job-section .job-box .name {
    letter-spacing: 0.18px;
    opacity: 0;
    transition: all .3s;
}

.job-section .job-box:hover .name {
    opacity: 1;

}

.job-section .job-box .img-box {
    text-align: center;
}

.job-section .job-box img {
    width: 70%;
    transition: all .3s;
    position: absolute;
    top: 50%;
    left: 50;
    transform: translate(-50%, -50%);
}
.job-section .job-box .img-hover{
    opacity: 0;
}
.job-section .job-box:hover .img-hover{
    opacity: 1;
}
.job-section .job-box:hover .img-show{
    opacity: 0;
}

.job-section .job-box:hover img {
    width: 60%;
}

/* .job-box .arrow-icon .offene {
    margin-right: 20px;
} */

.job-section .job-box .arrow-icon {
    position: relative;
    bottom: -20px;
    right: 20px;
    opacity: 0;
}

.job-section .job-box:hover .arrow-icon {
    bottom: 0px;
    right: 0px;
    transition: all .3s;
    opacity: 1;
}


/* ================================================================== */
/* =========================innovation page ======================== */
/* =================================================================== */
.content-block{
    width: 100%;
}
.content-block .content-left{
    width: 43.5%;
}
.content-block .content-right{
    width: 56.5%;
}
.content-block .content-left img{
    height: 900px;
    width: 100%;
    object-fit: cover;
}

.content-block .content-box{
    max-width: 888px;
    margin-left: 183px;
}
.content-block .content-box p{
    line-height: 28px;
    font-weight: 300;
}
.content-block .content-box h4{
    margin-top: 60px;
    margin-bottom: 45px;
    font-weight: 300;
    line-height: 1.21;
}

.last-block{
   
}
.last-block .content-right{
   height: 1040px;
}
.last-block .content-right{
    background: url('../images/welcome/last-block-bg.png') no-repeat center center;
    background-size: cover;
   
}

.last-block .inno-box .span{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
    margin-left: 160px;
    font-weight: bold;
}
.last-block .inno-box{
    background-color: #161214;
    transform: rotate(-90deg);
    height: 377px;
    width: 714px;
   
    position: absolute;
    color: #fff;
    left: -165px;
    top: 350px;
}

.last-block .book{
    width: 708px;
    right: -123px;
    position: absolute;
    top: 134px;
}
.last-block .content-box {
    max-width: 765px;
    margin-left: 226px;
}
.content-block-ls .content-right {
    width: 56.5%;
    position: relative;
}
.content-block-ls .content-left {
    width: 43.5%;
    padding-right: 30px;
}
.content-block-ls .content-box h4{
    font-weight: 300;
    margin-bottom: 45px;
}

















/* ======================================================================= */
/* =============================slick slider css ================================= */
/* ========================================================================= */
.prev-arrow {
    bottom: -120px;
    left: 0;
    height: 48px;
    width: 48px;
    border: 2px solid #161214;
    border-radius: 500px;
    z-index: 2;
    cursor: pointer
}

.prev-arrow,
.prev-arrow img {
    position: absolute;
    transition: all .3s ease-in-out
}

.prev-arrow img {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.next-arrow {
    bottom: -120px;
    left: 60px;
    height: 48px;
    width: 48px;
    border: 2px solid #161214;
    border-radius: 500px;
    cursor: pointer;
    z-index: 2
}

.next-arrow,
.next-arrow img {
    position: absolute;
    transition: all .3s ease-in-out
}

.next-arrow img {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.slick-header-text .next-arrow {
    position: absolute;
    bottom: -60px;
    left: 60px
}

/* .slick-header-text .next-arrow:hover img {
    transition: all .3s ease-in-out;
    top: 30%
} */

.slick-header-text .prev-arrow {
    position: absolute;
    bottom: -60px;
    left: 0
}

/* .slick-header-text .prev-arrow:hover img {
    transition: all .3s ease-in-out;
    top: 70%
} */

.news-text-slider .next-arrow {
    position: absolute;
    right: 0 !important;
    left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .news-text-slider .next-arrow:hover img {
    transition: all .3s ease-in-out;
    top: 30%
} */
.news-text-slider .next-arrow,
.news-text-slider .prev-arrow{
    bottom: -180px;
}
.news-text-slider .prev-arrow {
    position: absolute;
    left: auto;
    
    right: 60px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-text-slider .prev-arrow i,
.news-text-slider .next-arrow i{
    font-size: 22px;
}
/* .news-text-slider .prev-arrow:hover img {
    transition: all .3s ease-in-out;
    top: 70%
} */

.slick-team .next-arrow {
    position: absolute;
    top: 50%;
    bottom: auto;
    right: -50px;
    left: auto;
    transform: translateY(-50%);
    border: none;
    transition: all .3s ease-in-out
}

.slick-team .next-arrow:hover {
    right: -70px;
    width: 68px;
    transition: all .3s ease-in-out
}

.slick-team .prev-arrow {
    position: absolute;
    top: 50%;
    bottom: auto;
    right: auto;
    left: -50px;
    transform: translateY(-50%) rotate(180deg);
    border: none;
    transition: all .3s ease-in-out
}

.slick-team .prev-arrow:hover {
    left: -70px;
    width: 68px;
    transition: all .3s ease-in-out
}

.slick-what .next-arrow {
    right: 10px;
    left: auto;
    transform: translateY(-50%);
    display: flex;
}

.slick-what .next-arrow,
.slick-what .prev-arrow {
    position: absolute;
    top: 50%;
    bottom: auto;
    border: none
}

.slick-what .prev-arrow {
    right: auto;
    left: 10px;
    transform: translateY(-50%) rotate(180deg);
    display: flex;
}

@media only screen and (max-width:1600px) {
    .slick-what .prev-arrow {
        left: 20%
    }
}

@media only screen and (max-width:800px) {
    .slick-what .prev-arrow {
        left: 10px
    }
}

.slick-who .next-arrow {
    position: absolute;
    bottom: 0;
    display: inline-block;
    right: 0 !important;
    left: 50%;
    transform: translateX(20%)
}

/* .slick-who .next-arrow:hover img {
    transition: all .3s ease-in-out;
    top: 30%
} */

.slick-who .prev-arrow {
    position: absolute;
    display: inline-block;
    left: auto;
    bottom: 0;
    right: 50% !important;
    transform: translateX(-20%)
}
/* 
.slick-who .prev-arrow:hover img {
    transition: all .3s ease-in-out;
    top: 70%
} */

.slick-count span {
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    width: 20px
}

.slick-count .slick-progress {
    display: inline-block;
    vertical-align: middle;
    width: 96px;
    height: 3px;
    position: relative;
    background: rgba(156, 167, 166, .1);
    margin: 0 20px
}

.slick-count .slick-progress .slick-progress-bar {
    height: 3px;
    background-color: #00a996;
    position: absolute;
    transition: all .5s ease-in-out;
    top: 0;
    left: 0
}

#header-count {
    position: absolute;
    width: 100%;
    bottom: 48px;
    text-align: center;
    right: 0;
    left: 0;
}

.slick-slider {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

.slick-list.draggable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}














/* =================================================================== */
/* =============================animation css =============================== */
/* ======================================================================== */

.moveup {
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
    opacity: 0;
    transform: translateY(50px)
}

.up {
    transform: translate(0);
    opacity: 1
}

.movedown {
    transition: transform .5s ease-in-out .2s, opacity .5s ease-in-out .2s;
    opacity: 0;
    transform: translateY(-50px)
}

.down {
    transform: translate(0);
    opacity: 1
}

.moveleft {
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
    opacity: 0;
    transform: translate(-50px)
}

.left {
    transform: translate(0);
    opacity: 1;
    float: none !important
}

.moveright {
    transition: transform .5s ease-in-out .2s, opacity .5s ease-in-out .2s;
    opacity: 0;
    transform: translate(50px)
}

.right {
    transform: translate(0);
    opacity: 1;
    float: none !important;
}

.opacity .slick-what .slick-slide {
    opacity: 0;
    transition: all .5s ease-in-out
}

.opacity.visible .slick-what .slick-slide:first-of-type {
    opacity: 1;
    transition: all .5s ease-in-out .1s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(2) {
    opacity: 1;
    transition: all .5s ease-in-out .2s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(3) {
    opacity: 1;
    transition: all .5s ease-in-out .3s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(4) {
    opacity: 1;
    transition: all .5s ease-in-out .4s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(5) {
    opacity: 1;
    transition: all .5s ease-in-out .5s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(6) {
    opacity: 1;
    transition: all .5s ease-in-out .6s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(7) {
    opacity: 1;
    transition: all .5s ease-in-out .7s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(8) {
    opacity: 1;
    transition: all .5s ease-in-out .8s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(9) {
    opacity: 1;
    transition: all .5s ease-in-out .9s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(10) {
    opacity: 1;
    transition: all .5s ease-in-out 1s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(11) {
    opacity: 1;
    transition: all .5s ease-in-out 1.1s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(12) {
    opacity: 1;
    transition: all .5s ease-in-out 1.2s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(13) {
    opacity: 1;
    transition: all .5s ease-in-out 1.3s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(14) {
    opacity: 1;
    transition: all .5s ease-in-out 1.4s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(15) {
    opacity: 1;
    transition: all .5s ease-in-out 1.5s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(16) {
    opacity: 1;
    transition: all .5s ease-in-out 1.6s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(17) {
    opacity: 1;
    transition: all .5s ease-in-out 1.7s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(18) {
    opacity: 1;
    transition: all .5s ease-in-out 1.8s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(19) {
    opacity: 1;
    transition: all .5s ease-in-out 1.9s
}

.opacity.visible .slick-what .slick-slide:nth-of-type(20) {
    opacity: 1;
    transition: all .5s ease-in-out 2s
}


















/* ==============================================================================================
=======================================Innovation pages ======================= =============== ==========================================================================================
======================================== */

.news {
    position: relative;
    padding-top: 0;
    min-height: 800px;
    max-width: 100vw
}

.news .h2 {
    margin-top: 60px; 
    margin-bottom: 60px;
   
}
.news .h4{
    margin-bottom: 45px;
}

.news .news-image-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 43.5%
}

.news .news-image-container .news-count {
    height: 130px;
    width: 306px;
    background-color: #161214;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: -24px;
    z-index: 2
}

.news .news-image-container .news-count .slick-count {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%)
}

.news .news-image-container .news-count .slick-count * {
    color: #fff
}

.news .news-image-container .news-count .slick-count .slick-progress {
    background-color: #fff
}

.news .news-image-container img {
    height: 800px;
    width: 100%;
    object-fit: cover
}

.news .news-text-slider {
    width: 50%;
    position: relative
}

.news .news-text-slider h4 {
    margin-bottom: 45px;
    font-weight: 300;
}

.news .news-text-slider .mobile-news-trigger {
    cursor: pointer;
    display: none;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    vertical-align: middle;
    margin-top: 30px;
}

.news .news-text-slider .mobile-news-trigger img {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle
}
.news .news-text-slider p{
    font-weight: 300;
}
.news .news-text-slider .news-hidden {
    opacity: 1;
    max-height: 100%
}

@media only screen and (max-width:1000px) {
    .news {
        min-height: auto;
        /* padding-top: 60px */
    }

    .news .h2 {
        margin-top: 0px;
        margin-bottom: 30px;
      
        transform: none !important;
        opacity: 1 !important
    }

    .news .container {
        margin-top: 0;
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
    }

    .news .news-image-container {
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
        height: auto;
        margin-bottom: 30px
    }

    .news .news-image-container img {
        height: auto
    }

    .news .news-image-container .news-count {
        height: auto;
        width: 100%;
        margin: 20px 0px 30px;
        background-color: transparent;
        text-align: center;
        position: relative;
        left: auto;
        bottom: auto;
        z-index: 2;
        text-align: left
    }

    .news .news-image-container .news-count .slick-count {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        transform: none
    }

    .news .news-image-container .news-count .slick-count * {
        color: #000
    }

    .news .news-image-container .news-count .slick-count .slick-progress {
        background-color: rgba(156, 167, 166, .1)
    }

    .news .news-text-slider {
        width: 100%;
        position: relative
    }

    .news .news-text-slider h4 {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 29px;
        font-weight: 300;
        overflow-wrap: break-word
    }

    .news .news-text-slider .mobile-news-trigger {
        display: inline-block;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        vertical-align: middle
    }

    .news .news-text-slider .mobile-news-trigger img {
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle
    }

    .news .news-text-slider .news-hidden {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: all .3s ease-in-out
    }

    .news .news-text-slider .news-hidden.active {
        opacity: 1;
        max-height: 600px;
        transition: all .3s ease-in-out
    }
    .news .news-text-slider p{
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;

    }
}





/* ================================= about page -=================================== ====================================================================================*/
/* ---------- banner section --------------*/
.banner-head .block-left {
    width: 47%;
}

.banner-head .block-right {
    width: 53%;
    position: relative;
}

.banner-head {
    height: 100vh;
}

.banner-head .inner-contnet {
    margin-left: 155px;
    margin-right: 160px;
}

.banner-head .banner-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-head .inner-contnet h3 {
    margin-top: 100px;
    margin-bottom: 30px;

}

.banner-head .inner-contnet p {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}

.arrow-link span {
    font-weight: 700;
    line-height: 28px;
    font-size: 18px;
    letter-spacing:  0.18px;
   
}
.arrow-link .fa-arrow-right-long {
    font-size: 18px;
    line-height: 28px;
   left: 10px;
    transition: all .3s;
    position: relative;
    top: 2px;
}
.arrow-link:hover .fa-arrow-right-long {
   left: 20px;
}
.arrow-icon{
    transition:  all .3s;
}
.arrow-icon .offene{
    margin-right: 10px;
    transition:  all .3s;
    position: relative;
}
.arrow-icon:hover .offene{
    margin-right: 20px;
}

.banner-head .downscrol {
    color: #fff;
    position: absolute;
    top: 90%;
    right: 0px;
    left: 0px;

}

.banner-head .downscrol p {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 7px;
    transition: 0.3s;
}

.banner-head .downscrol .fa-arrow-down-long {
    font-size: 16px;
}

.banner-head .downscrol:hover p {
    margin-bottom: 17px;
}
.banner-overlay{
    position: relative;
}
.banner-overlay::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent linear-gradient(180deg, #161214 0%, #16121400 100%) 0% 0% no-repeat padding-box;
}
/* ----------------black box section --------------- */


.black-box-section {
    color: #fff;
}

.black-box-section .inner-box {
    width: 582px;
    position: relative;
    top: -50%;
}
.black-box-section .inner-box h4{
    font-weight: 700;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50px 100%, 0 20px);
}
.black-box-section .inner-box .pera {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
}

.black-box-section .subtitle {
    line-height: 1.56;
    letter-spacing: 0.18px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.inner-box {
    width: 100%;
    background-color: #161214;
    padding: 56px 90px 60px 100px;
}

.inner-box a {
    margin-top: 60px;
    color: #fff;
}

/* ----------------team  section --------------- */
.team-section {
    margin-top: -190px;
    overflow: hidden;
    padding-bottom: 210px;
}

.team-section h2 {
    margin-top: 20px;
    margin-bottom: 60px;
}

.team-section .team-box {
    padding: 130px 30px 30px 30px;
    box-shadow: 0 10px 40px 0 rgba(22, 18, 20, 0.1);
}

.team-box h5 {
    line-height: 1.5;
    letter-spacing: 0.16px;
    font-weight: 700;

}

.team-box span {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    display: block;
}

.team-box p {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
}

.team-section .owl-carousel .owl-stage-outer {
    padding-top: 30px;
    padding-bottom: 60px;
}

/* ---------------news section -------------- */
.news-section {
    margin-bottom: 220px;
}

.news-section .title p {
    font-weight: 700;
    line-height: 1.56;
    letter-spacing: 0.18px;
    margin-top: 10px;
    margin-bottom: 60px;
}

.news-section .row {
    max-width: 1494px;
}

.news-section .load-more {
    margin-top: 60px;
}

.news-section .load-more a {

    line-height: 28px;
    letter-spacing: 0.14px;
    font-size: 14px;
    color: #00a996;
}

/* ------------------partner section-------------- */


.partner-section .span {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1.2px;
    font-weight: 700;
}

.partner-section .title p {
    line-height: 28px;
    max-width: 888px;
    margin: auto;
    padding: 60px 0px 100px;
}

.partner-section .logo-container {
    padding-top: 30px;
    padding-bottom: 200px;
}

.logo-carousel .logo-img {
    margin: 0px 30px;
}

.partner-section h4 {
    margin-top: 60px;
}



















/* ======================= ============== ================= ================================ ========================================footer section ======= =============== ========== ========================================================================== */
/* mobile screen */
.contact-mobile-info {
    margin-bottom: 60px;
}

.contact-mobile-info .title h2 {
    margin-bottom: 30px;
}

.contact-mobile-info .contact-part img {
    width: 91px;
}

.contact-mobile-info .contact-part h5 {
    line-height: 24px;
    letter-spacing: 0.24px;
    font-weight: 700;
    margin-top: 30px;
}

.contact-mobile-info .contact-part .contact-title p {
    line-height: 24px;
    letter-spacing: 0.14px;
    margin-bottom: 40px;
    font-size: 14px;
}

.contact-mobile-info .contact-part .address p {
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contact-mobile-info .contact-part .inner-contact a {
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 24px;
    font-weight: 300;
    display: block;
}

.contact-mobile-info .social-link {
    margin-top: 30px;
}

.contact-mobile-info .social-link li {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #00a996;
    text-align: center;
}

.contact-mobile-info .social-link li a {
    color: #161214;
    line-height: 48px;
    text-align: center;

}

.contact-mobile-info .fa-brands {
    font-size: 24px;
    line-height: 45px;
}






/* larg screen  */
.footer-section {
    background-color: #161214;
    padding-top: 93px;
    padding-bottom: 68px;
    color: #fff;

}

.footer-section .title h2 {
    color: #fff;
    margin-bottom: 37px;

}

.footer-section .contact-part img {
    width: 91px;
    margin-right: 23px;
}

.footer-section .contact-part h5 {
    line-height: 24px;
    letter-spacing: 0.24px;
    font-weight: 700;
    margin-top: 20px;
}

.footer-section .contact-part .contact-title p {
    line-height: 24px;
    letter-spacing: 0.16px;
    margin-bottom: 40px;
}

.footer-section .contact-part .address p {
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 16px;
}

.footer-section .contact-part .inner-contact a {
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: 24px;
    font-weight: 300;
    display: block;
}

.footer-section .social-link {
    margin-top: 38px;
}

.footer-section .social-link li {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #00a996;
    text-align: center;
}

.footer-section .social-link li a {
    color: #fff;
    line-height: 48px;
    text-align: center;

}

.footer-section .fa-brands {
    font-size: 24px;
    line-height: 45px;
}

.footer-section .bottom-footer a {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.14px;
    font-weight: 700;
}

.footer-section .footer-logo .logo-box {
    background-color: #fff;
    box-shadow: 0px 30px 60px #1612141A;
    border-radius: 8px;
    height: 209px;
}


.footer-section .footer-logo .logo-box:last-child {
    margin-right: 0px;
}
.footer-section .supportby {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 24;
    line-height: 1.2px;
    margin-bottom: 30px;
    display: inline-block;
}

.bottom-footer {
    margin-top: 114px;
}

.footer-section .bottom-footer .footer-menu-item {
    margin-right: 60px;
}

.footer-section .bottom-footer .footer-menu {
    margin-left: 110px;
}

.footer-section .g-md-5 {
    --bs-gutter-x: 30px;
}

.footer-section .list-inline-item:not(:last-child) {
    margin-right: 0.625rem;
}


/* =============================home page ================================== */

#why {
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* padding: 0 60px */
}

#why h1{
    font-size: 120px;
    line-height: 120px;
    color: #00a996;
}
#why .header-content p{
    font-size: 72px;
    font-weight: 700;
    line-height: 1.22;
    margin-left: 80px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#why .header-content .arrow-icon a{
    color: #fff;
    margin-left: 80px;
}
#why .header-text-slider-item span{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.56;
    letter-spacing: 0.18px;
}

#why .header-image-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 75%;
    width: 100%;
    
}

#why .header-image-container .swipe {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%) translateY(-50%);
    animation: left-right 4s ease-in-out infinite;
    width: 60px
}

#why .header-image-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    
}
#why .header-image-slider::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
   
    background-image: linear-gradient(to bottom, #161214, rgba(22, 18, 20, 0.1));
    
}
#why .header-image-slider img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
   
}

#why .header-text-slider {
    /* position: relative;
    margin-top: 114px; */
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#why .header-text-slider h4 {
    margin-bottom: 20px
}

#why .fa-light{
   font-size: 24px;
}
#why .slick-header-text .prev-arrow {
    position: absolute;
    bottom: 22%;
    /* left: 36px; */
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#why .slick-header-text .next-arrow {
    position: absolute;
    bottom: 22%;
    left: 63px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}
@media only screen and (max-width:1400px) {
   
    #why {
        height: 100vh;
        position: relative;
        padding: 0;
        overflow: hidden
    }
 
    /* #why .header-image-container {
        position: relative;
        top: auto;
        right: auto;
        height: 100vh;
        width: 100%;
        overflow: hidden
    } */

    #why .header-image-container .swipe {
        display: block;
        pointer-events: none
    }

    #why .header-image-slider {
        height: 100vh;
        width: 100%
    }

    #why .header-image-slider img {
        position: relative;
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }
/* 
    #why #header-count {
        position: relative;
        width: auto;
        top: auto;
        padding-left: 36px;
        margin: 30px 0
    } */

    /* #why .header-text-slider {
        margin-top: 0;
        max-width: 100%;
        height: 100vh;
        padding: 0 36px
    } */


  

    /* #why .slick-header-text .prev-arrow {
        position: absolute;
        bottom: 260px;
        left: 36px
    }

    #why .slick-header-text .next-arrow {
        position: absolute;
        bottom: 260px;
        left: 96px
    } */
}
@media only screen and (max-width:600px) {

    #why .movedown,
    #why .moveleft,
    #why .moveright,
    #why .moveup {
        transform: none !important;
        opacity: 1 !important
    }

    /* #why .header-image-container,
    #why .header-image-slider {
        height: 100vh;
    }

    #why .header-image-slider img {
        object-fit: cover;
        width: 100%;
        height: 100vh;
    } */

    /* #why .header-text-slider {
        height: auto
    } */


}
.home-black-box .inner-box h4{
    margin-left: -45px;
  
}
.why-second  span{
    line-height: 1.56;
    letter-spacing: 0.18px;
    padding-left: 187px;
}
.why-second h3{
    margin-top: 125px;
    margin-bottom: 30px;
}
.why-second p{
    font-weight: 300;
    line-height: 1.67;
}
.why-thard{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/banner/why-thard.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin-top: -360px;

}
.why-thard h3{
    max-width: 1200px;
}


#what {
    position: relative;
    height: 714px;
    background-color: #161214;
    max-width: 100vw;
    overflow: hidden
}

@media only screen and (max-width:800px) {
    #what {
        height: 100%;
        background-color: #fff
    }
}
#what i.fa-light.fa-chevron-left {
    transform: rotate(175deg);
}

#what .what-cards {
    width: 100%
}

#what .what-cards .what-card-header {
    background: #161214;
    width: 15% !important
}

#what .what-cards .what-card-header #what-count {
    display: none
}

#what .what-cards .what-card-header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(-90deg)
}

#what .what-cards .what-card-header .title * {
    color: #fff
}

#what .what-cards .what-card-header .title .h1 {
  
    font-size: 90px;
    line-height: 1;
}

#what .what-cards .what-card-header .title .h6 {
    margin-left: 110px;
    font-size: 18px;
    letter-spacing: 0.18px;
}

@media only screen and (max-width:1600px) {
    #what .what-cards .what-card-header {
        width: 18% !important
    }
}

@media only screen and (max-width:900px) {
    #what .what-cards .what-card-header {
        width: 20% !important
    }
}

@media only screen and (max-width:800px) {
    #what .what-cards .what-card-header {
        width: 100% !important;
        height: auto !important;
        padding: 46px 36px
    }

    #what .what-cards .what-card-header .title {
        position: relative;
        top: auto;
        left: auto;
        transform: none
    }

    #what .what-cards .what-card-header .title .h2 {
        font-size: 48px
    }

   

    #what .what-cards .what-card-header #what-count {
        display: block;
        margin-top: 34px;
        text-align: center;
    }

    #what .what-cards .what-card-header #what-count .slick-count * {
        color: #fff
    }
}

#what .what-cards .what-card {
    position: relative;
    width: 21.25%;
    float: left;
    height: 714px;
    overflow: hidden
}

#what .what-cards .what-card:nth-of-type(2) .what-card-content {
    background-color: #161214
}


#what .what-cards .what-card .what-card-content {
    padding: 29px 65px;
    position: absolute;
    transition: all .3s ease-in-out;
    bottom: calc(-100% + 120px);
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color:#161214;
}

#what .what-cards .what-card .what-card-content * {
    color: #fff;
    letter-spacing: 0.18px;
}

#what .what-cards .what-card .what-card-content .h4 {
    margin-bottom: 70px;
    margin-left: 0;
    font-weight: 700;
    transition: all .3s ease-in-out
}

#what .what-cards .what-card .what-card-content .h6 {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.2px;
}

#what .what-cards .what-card .what-card-content p {
    line-height: 28px;
    letter-spacing: 0.18px;
}
#what .what-cards .what-card .what-card-content .what-pera {
    font-weight: 300 !important;
    margin-top: 30px;
    margin-bottom: 100px;
   
}

#what .what-cards .what-card .what-card-image {
    width: 100%;
    height: 100%
}

#what .what-cards .what-card .what-card-image img {
    position: absolute;
    left: 0;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

#what .what-cards .what-card .what-card-image:after {
    content: "";
    background: #161214;
    opacity: .5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

#what .what-cards .what-card:hover .what-card-content {
    bottom: 0;
    padding-top: 65px;
    background-color: #161214;
    transition: all .5s ease-in-out
}

#what .what-cards .what-card:hover .what-card-content .h4 {
    margin-left: -39px;
    transition: all .5s ease-in-out .2s
}

@media only screen and (max-width:800px) {
    #what .what-cards .what-card {
        width: 100% !important;
        float: none;
        height: 577px
    }

    #what .what-cards .what-card p {
        line-height: 18px !important
    }

    #what .what-cards .what-card .h6 {
        margin-bottom: 30px !important
    }
    #what .what-cards .what-card .what-card-content .h4 {
        font-size: 36px;
        line-height: 44px;

    }
}


/* light box */

/* lightbox popup */
.light-show-image-top{
    height: 420px;
    width: 100%;
    object-fit: cover;
  }
.modal.lightbox {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
        background-color: #161214bb;
   
}
.lightbox-popup{
    background-color: white;
}

.modal.lightbox .btn-close{
    color: #fff;
    background-color: transparent !important;
    border-radius: 0 !important;
    opacity: 1 !important;
}
.carousel-inner{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 30px 60px 0 rgba(21, 18, 20, 0.1);
}
.light-box-content-inner{
    padding: 60px 30px;
}
.light-box-content-inner p{
    line-height: 30px;
}
.light-box-content-inner h3{
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 700;
}
@media (min-width: 1200px){ 
.modal-xl {
    max-width: 948px;
}
}