/* common style */
body{
    font-family: 'Montserrat', sans-serif;
    color: #161214;
   
}
h1, .h1{
    font-size: 120px;
    line-height: 146px;
    font-weight: 700;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 160px 100%, 0 60px); */
    clip-path: polygon(0 0,100% 0,100% 100%,80px 100%,0 40px);    
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}
h2, .h2{
    font-size: 90px;
    font-weight: 700;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 160px 100%, 0 60px); */
    clip-path: polygon(0 0,100% 0,100% 100%,80px 100%,0 40px);
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    line-height: 110px;
}
h3 , .h3{
    font-size: 60px;
    line-height: 73px;
}
h4, .h4{
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h5, .h5{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}
p{
    font-size: 18px;
    margin-bottom: 0px;
}
#preloader,
body.preloader-site {
    overflow: hidden
}

#preloader {
    height: 100vh;
    width: 100vw;
    background: #00a996;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000000000000000000
}

#preloader .content {
    position: relative;
    z-index: 5
}

#preloader .content .logo img {
    width: 372px
}

@media (max-width:767px) {
    #preloader .content .logo img {
        width: 280px
    }
}

#preloader:before {
    content: "";
    position: absolute;
    border-radius: 3000px;
    top: 50%;
    left: 50%;
    height: 1224px;
    width: 1224px;
    transform: translateX(-50%) translateY(-50%) scale(1);
    transition: all .7s ease-in-out;
    background-color: transparent
}

#preloader.loaded {
    opacity: 0;
    transition: all .3s ease-in-out .9s
}

#preloader.loaded:before {
    transform: translateX(-50%) translateY(-50%) scale(5);
    transition: all .8s ease-in-out .4s;
    background-color: #fff
}

#preloader.loaded img {
    transform: scale(1.1);
    transition: all 1s ease-in-out
}
#mouse-circle {
    position: absolute;
    border: 1px solid #00a996;
    background-color: hsla(0, 0%, 100%, .2);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: height, width .3s ease-in-out;
    z-index: 50000000000000000;
    pointer-events: none;
    transition: transform .3s ease-in-out;
    transform: scale(1)
}

@media only screen and (max-width:800px) {
    #mouse-circle {
        display: none
    }
}

#mouse-circle.active {
    transform: scale(1.3);
    transition: transform .3s ease-in-out
}

/* header slider */

.header-content{
    position: absolute;
    z-index: 11;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: white !important;
}
.header-content h4{
    color: white !important;
}
.section-3{
    background-image: url('/images/background/section-3bg.png');
}




/* =======================header section ==================== */
.menu-section{
    padding: 32px 60px 0px 60px;
    position: absolute;
    width: 100%;
    top: 0;

}
.menu-section .site-logo img{
    max-width: 290px;
   
}
.hamburger{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #00a996;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
}
.language-menu{
    margin-right: 80px;
    position: relative;
    z-index: 20;
}
.language-menu span{
    color: #fff;
}
.language-menu a{
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.33;
    letter-spacing: 0.12px;

}

.navigation{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #161214;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: block;
    z-index: 19;
}
.hidenavigation{
    display: none;
}
.menu-toggle{
  
}
.menu-toggle span{
    display: block;
    width: 30px;
    height: 3px;
    background: #161214;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.menu-toggle span:first-child{
    margin-bottom: 6px;
}
.hamburger:hover .menu-toggle span:first-child{
    position: relative;
    top: 4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.hamburger:hover .menu-toggle span:last-child{
    position: relative;
    top: -4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.hamburger.open span:first-child {
    position: relative;
    top: 4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .hamburger.open span:last-child {
    position: relative;
    top: -4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .navigation h4{
    color: #00a996;
  }
.navigation .second-menu{
    margin-top: 90px;
}
.navigation a{
    color: #fff;
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: 0.18px;
}
.innner-nav{
    height: 100vh;
}
/* =======================footer section ==================== */
/* mobile screen */
.contact-mobile-info{
    margin-bottom: 60px;
}
.contact-mobile-info .title h2{
    margin-bottom: 30px;
}
.contact-mobile-info .contact-part img{
    width: 91px;
}
.contact-mobile-info .contact-part h5{
    line-height: 24px;
    letter-spacing: 0.24px;
    font-weight: 700;
    margin-top: 30px;
}
.contact-mobile-info .contact-part .contact-title p{
    line-height: 24px;
    letter-spacing: 0.14px;
    margin-bottom: 40px;
    font-size: 14px;
}
.contact-mobile-info .contact-part .address p{
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contact-mobile-info .contact-part .inner-contact a{
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 24px;
    font-weight: 300;
    display: block;
}
.contact-mobile-info .social-link{
    margin-top: 30px;
}
.contact-mobile-info .social-link li{
 width: 48px;
 height: 48px;
 border-radius: 50%;
 border: 2px solid #00a996;
 text-align: center;
}

.contact-mobile-info .social-link li a{
    color: #161214;
    line-height: 48px;
    text-align: center;
   
}
.contact-mobile-info .fa-brands{
    font-size: 24px;
    line-height: 45px;
}






/* larg screen  */
.footer-section{
    background-color:#161214;
    padding-top: 93px;
    padding-bottom: 68px;
    color: #fff;
   
}
.footer-section .title h2{
    color: #fff;
    margin-bottom: 37px;

}
.footer-section .contact-part img{
    width: 91px;
    margin-right: 23px;
}
.footer-section .contact-part h5{
    line-height: 24px;
    letter-spacing: 0.24px;
    font-weight: 700;
    margin-top: 20px;
}
.footer-section .contact-part .contact-title p{
    line-height: 24px;
    letter-spacing: 0.16px;
    margin-bottom: 40px;
}
.footer-section .contact-part .address p{
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 16px;
}
.footer-section .contact-part .inner-contact a{
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: 24px;
    font-weight: 300;
    display: block;
}
.footer-section .social-link{
    margin-top: 38px;
}
.footer-section .social-link li{
 width: 48px;
 height: 48px;
 border-radius: 50%;
 border: 2px solid #00a996;
 text-align: center;
}

.footer-section .social-link li a{
    color: #fff;
    line-height: 48px;
    text-align: center;
    
}
.footer-section .fa-brands{
    font-size: 24px;
    line-height: 45px;
}
.footer-section .bottom-footer{
    /* max-width: 1906px; */
    /* margin-left: 140px; */
}
.footer-section .bottom-footer a{
   color: #fff;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.14px;
   font-weight: 700;
}
.footer-section .footer-logo .logo-box{
    background-color: #fff;
    box-shadow: 0px 30px 60px #1612141A;
    border-radius: 8px;
   /* width: 314px; */
    height: 209px;
    /*  margin-right: 30px;
    margin-bottom: 30px; */
}
.footer-section .footer-logo .logo-box:last-child{
    margin-right: 0px;
}
.footer-section .supportby{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 24;
    line-height: 1.2px;
    margin-bottom: 30px;
    display: inline-block;
}
.bottom-footer{
    margin-top: 114px;
}
.footer-section .bottom-footer .footer-menu-item{
    margin-right: 60px;
}
.footer-section .bottom-footer .footer-menu{
    margin-left: 110px;
}
.footer-section .g-md-5{
    --bs-gutter-x: 30px;
  }

.footer-section .list-inline-item:not(:last-child) {
    margin-right: 0.625rem;
}